<!DOCTYPE html>
<div id="LoginModal" class="modal fade" role="dialog" data-backdrop="static" ng-controller="LogInCtrl">
    <div class="modal-dialog">
    	<img src="dist/images/plant-vines.jpg">
	 <div class="modal-content">

		  <div class="modal-header text-center">
		     <span>Welcome</span>
		  </div>
		  <form name="loginForm" class="modal-body">
		   	<div class="input-group margin-bottom-sm">
			  <span class="input-group-addon"><i class="fa fa-envelope-o fa-fw text-info"></i></span>
			  <input class="form-control" name="email" type="email" placeholder="Email address" ng-model="loginUser.Email" required>
			  </div>
			<div class="input-group">
			  <span class="input-group-addon"><i class="fa fa-key fa-fw text-info"></i></span>
			  <input class="form-control" type="password" placeholder="Password" ng-model="loginUser.Password" required>
			</div>
			<span class="text-warning">{{userStatus}}</span>
		  <div class="modal-footer text-center">
		    <button type="button" class="btn btn-primary btn-block" ng-click="Login(loginUser)">Sign In</button>
		    <button type="button" class="btn btn-info btn-block text-warning" ng-click="addNewUser(loginUser)">Sign Up</button>
		  </div>
		</form>
	</div>


</div>	

    <script type="text/javascript">
        $(document).ready(function(){
            $('#LoginModal').modal("show");
        });
    </script>